@model  IEnumerable<DrivingSchoolDB.Serie>
    @{
    ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    @foreach (var c in @Model) // Print the list
    {
        @Html.LabelFor(c.Number);
    }
